# Development #
###############
__pycache__
*.pyc
*.egg*
.tox
*.*~
.DS_Store
/*.log
/*.pid
*.ini

# Virtualenv #
##############
bin
lib
include

# Build files #
###############
build/
dist/

# Test files #
##############
messages.txt

# Coverage #
############
.coverage
coverage_html_report/
