[app:main]
use = egg:cnx-authoring

archive.url = http://archive.cnx.org/
publishing.url = http://localhost:6543/publications
publishing.api_key = b07
cors.access_control_allow_credentials = true
cors.access_control_allow_origin = http://localhost:8000 http://localhost:8080
cors.access_control_allow_headers = Origin, Content-Type
cors.access_control_allow_methods = GET, OPTIONS, PUT, POST

storage = memory
pickle.filename = dev.p
postgresql.db-connection-string = dbname=authoring user=cnxauthoring

openstax_accounts.server_url = https://localhost:3000/
openstax_accounts.application_id = a86119f2635afb0c2f1b89fc914e65e09688451168b639a18fd054f2e4b15670
openstax_accounts.application_secret = 9bbe5046b799ce150218417493cfb014894b43c07a184ad990dd607ed92b63bb
openstax_accounts.application_url = http://localhost:8080/
openstax_accounts.login_path = /login
openstax_accounts.callback_path = /callback
openstax_accounts.logout_path = /logout

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 8080
